:host {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  z-index: 1;

  .focusbar, .focusbox, .linetool {
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    .box {
      position: absolute;

      &.available {
        pointer-events: all;
      }
    }
  }

  .focusbar {
    top: -20px;
    z-index: 6;

    .box {
      padding: 0 6px;
      height: 20px;
      line-height: 20px;
      font-size: 12px;
      font-weight: 700;
      color: #fff;
      background-color: #585858;
    }
  }

  .focusbox {

    .box {
      border: 1px solid #585858;
      z-index: 5;
      border-radius: 2px;
      border-top-left-radius: 0;
      box-shadow: 1px 1px 0 rgba(255,255,255,0.2),
        1px 1px 0 rgba(255,255,255,0.2) inset;
    }
  }

  .linetool {
    .line {
      background-color: #4492ED;
      position: absolute;
      box-shadow: 0 0 1px #4492ED;
      margin: -1px 0 0 -1px;
      pointer-events: none;

      &::before, &::after {
        position: absolute;
        content: '';
        width: 0;
        height: 0;
        border: 4px solid transparent;
      }

      &.left::before {
        top: 50%;
        margin-top: -4px;
        left: -10px;
        border-right-color: #4492ED;
      }

      &.right::after {
        top: 50%;
        margin-top: -4px;
        right: -10px;
        border-left-color: #4492ED;
      }

      &.top::before {
        left: 50%;
        margin-left: -4px;
        top: -10px;
        border-bottom-color: #4492ED;
      }

      &.bottom::after {
        left: 50%;
        margin-left: -4px;
        bottom: -10px;
        border-top-color: #4492ED;
      }
    }
  }
}
