<div class="focusbar">
  <ng-template [ngIf]="hoverData$ | async" let-hData>
    <div *ngIf="isNotSameTarget$ | async"
         class="box"
         [style.top.px]="hData.top"
         [style.left.px]="hData.left">
      {{ hData.tagName | titlecase }}
    </div>
  </ng-template>

  <div *ngIf="activeData$ | async; let aData"
       class="box available"
       [style.top.px]="aData.top"
       [style.left.px]="aData.left">
    <span *ngIf="hasParent$ | async" class="px-1" title="Move" (click)="move()">
      <mdb-icon fas icon="arrows-alt"></mdb-icon>
    </span>
    <span class="px-1" title="Select Parent" (click)="selectParent()">
      <mdb-icon fas icon="arrow-up"></mdb-icon>
    </span>
    <span *ngIf="hasParent$ | async" class="px-1" title="Edit" (click)="edit()">
      <mdb-icon fas icon="pencil-alt"></mdb-icon>
    </span>
    <span *ngIf="hasParent$ | async" class="px-1" title="Duplicate" (click)="copy()">
      <mdb-icon far icon="copy"></mdb-icon>
    </span>
    <span *ngIf="hasParent$ | async" class="px-1" title="Delete" (click)="remove()">
      <mdb-icon far icon="trash-alt"></mdb-icon>
    </span>
  </div>
</div>
<div class="focusbox">
  <ng-template [ngIf]="hoverData$ | async" let-hData>
    <div *ngIf="isNotSameTarget$ | async"
         class="box"
         [style.width.px]="hData.width"
         [style.height.px]="hData.height"
         [style.top.px]="hData.top"
         [style.left.px]="hData.left">
    </div>
  </ng-template>
  <div *ngIf="activeData$ | async; let aData"
       class="box"
       [style.width.px]="aData.width"
       [style.height.px]="aData.height"
       [style.top.px]="aData.top"
       [style.left.px]="aData.left">
  </div>
</div>
<div class="linetool">
  <div *ngIf="dropData"
       class="line {{ dropData.className }}"
       [style.width.px]="dropData.width"
       [style.height.px]="dropData.height"
       [style.top.px]="dropData.top"
       [style.left.px]="dropData.left">
  </div>
</div>
