:host {
  display: block;
  padding-left: 10px;

  .line {
    display: flex;
    align-items: flex-start;
  }

  .toggle-btn {
    flex: 0 0 20px;
    padding-top: 5px;
  }

  .structure {
    flex: 1;
  }

  .selected {
    border-style: solid;
    border-color: cornflowerblue;
    border-width: 1px;
  }

  .tag-body {
    cursor: pointer;
    pointer-events: all;
    &.-disabled {
      cursor: default;
      pointer-events: none;
    }
  }

  .tag {
    color: cornflowerblue;
    cursor: pointer;
    pointer-events: all;

    &.-disabled {
      cursor: default;
      pointer-events: none;
    }
  }

  .attribute {
    color: lawngreen;
  }

  .attribute-value {
    color: magenta;
  }

  .text {
    color: #fff;
  }
}
