<div class="line">
  <mdb-icon class="toggle-btn pr-1 text-white"
            fas
            icon="caret-{{ expanded ? 'down' : 'right' }}"
            (click)="toggleExpanded($event)">
  </mdb-icon>
  <div class="structure">
    <span class="tag-body"
          [class.-disabled]="disabled"
          [class.selected]="element.dataset.selected"
          (click)="select($event)"
          (mouseover)="highlight($event)"
          (mouseleave)="removeHighlight($event)">
      <span class="tag" [class.-disabled]="disabled">&lt;{{ element.nodeName.toLowerCase() }}</span>
      <span *ngIf="element.getAttribute('id'); let id">
        <span class="attribute">&nbsp;id=&quot;</span>
        <span class="attribute-value">{{ id }}</span>
        <span class="attribute">&quot;</span>
      </span>
      <span *ngIf="element.getAttribute('class'); let klass">
        <span class="attribute">&nbsp;class=&quot;</span>
        <span class="attribute-value">{{ klass }}</span>
        <span class="attribute">&quot;</span>
      </span>
      <span *ngIf="element.getAttribute('role'); let role">
        <span class="attribute">&nbsp;role=&quot;</span>
        <span class="attribute-value">{{ role }}</span>
        <span class="attribute">&quot;</span>
      </span>
      <span class="tag" [class.-disabled]="disabled">&gt;</span>
    </span>
    <ng-template [ngIf]="expanded" [ngIfElse]="collapsed">
      <span *ngFor="let child of element.childNodes">
        <ng-container [ngSwitch]="child.nodeType">
          <app-viewer-html-line-full *ngSwitchCase="1"
                                [element]="child"
                                [disabled]="child.tagName === 'HEAD'">
          </app-viewer-html-line-full>
          <span *ngSwitchCase="3">
            <ng-template [ngIf]="child.nodeValue | hasValue">
              <br>
              <span class="text pl-4">{{ child.nodeValue }}</span>
              <br>
            </ng-template>
          </span>
        </ng-container>
      </span>
    </ng-template>
    <span class="tag"
          [class.-disabled]="disabled"
          [class.selected]="element.dataset.selected"
          (click)="select($event)"
          (mouseover)="highlight($event)"
          (mouseleave)="removeHighlight($event)">&lt;/{{ element.nodeName.toLowerCase() }}&gt;</span>
  </div>
</div>

<ng-template #collapsed>
  <span class="text">...</span>
</ng-template>
