:host {
  display: block;

  .line {
    display: grid;
    grid-template-columns: 15px 1fr;
    align-items: center;
  }

  .toggle-btn {
    font-size: 12px;
    cursor: pointer;
    pointer-events: all;
  }

  .block {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
    line-height: 1;
    font-weight: 700;
    pointer-events: all;
    cursor: pointer;

    .selected {
      padding: 2px 4px;
      border-radius: 2px;
      background-color: #0A6FB7;
    }

    &.-disabled {
      cursor: default;
      pointer-events: none;
    }
  }

  .nested {
    margin-left: 5px;
    grid-column: span 2;
  }
}
