<div class="line">
  <mdb-icon *ngIf="element.children.length; else filler"
            class="toggle-btn pr-1 text-white" fas
            icon="caret-{{ expanded ? 'down' : 'right' }}"
            (click)="toggleExpanded($event)">
  </mdb-icon>
  <div class="block py-1"
        [class.-disabled]="disabled"
        (click)="select($event)"
        (mouseover)="highlight($event)"
        (mouseleave)="removeHighlight($event)">
    <span [class.selected]="element.dataset.selected">
      {{ element.tagName | titlecase }}
      <span *ngIf="element.id" class="text-white-50">#{{ element.id }}</span>
    </span>
  </div>
  <div class="nested" *ngIf="expanded">
    <ng-template ngFor [ngForOf]="element.children" let-child>
      <app-viewer-html-line-simple *ngIf="child.tagName !== 'HEAD'"
                                   [element]="child">
      </app-viewer-html-line-simple>
    </ng-template>
  </div>
</div>

<ng-template #filler><i></i></ng-template>
