<ng-container [ngSwitch]="type">
  <ng-template ngSwitchCase="full">
    <app-viewer-html-line-full *ngFor="let element of html?.children"
                          [disabled]="true"
                          [element]="element">
    </app-viewer-html-line-full>
  </ng-template>
  <ng-template ngSwitchCase="simple">
    <app-viewer-html-line-simple *ngFor="let element of html?.children"
                                 [disabled]="true"
                                 [element]="element">
    </app-viewer-html-line-simple>
  </ng-template>
</ng-container>



