<footer class="footer stylish-color-dark"
        id="bottom-box"
        [class.expanded]="isExpanded | async">
  <div class="panel">
    <div class="panel-head" (click)="togglePanel()">
      <mdb-icon class="text-white text-left pl-1" fas icon="grip-vertical"></mdb-icon>
      <span class="text-white pl-2">HTML</span>
    </div>
    <div class="panel-body pt-2">
      <app-viewer-html type="full"></app-viewer-html>
    </div>
  </div>
  <div class="panel">
    <div class="panel-head" (click)="togglePanel()">
      <mdb-icon class="text-white text-left pl-1" fas icon="grip-vertical"></mdb-icon>
      <span class="text-white pl-2">CSS</span>
    </div>
    <div class="panel-body pt-2">
<!--      <app-viewer-html></app-viewer-html>-->
    </div>
  </div>
</footer>
