:host {
  .footer {
    display: flex;
    height: 30px;
    overflow: hidden;

    &.expanded {
      height: 250px;
    }
  }

  .panel {
    display: flex;
    flex-direction: column;
    flex: 0 0 50%;
    background-color: #424242;
    height: 100%;

    &-head {
      flex: 0 0 auto;
      cursor: pointer;
    }

    &-body {
      flex: 1;
      overflow: auto;
    }
  }
}
