<div class="white-text w-50 float-left" id="zoom-controls">
    <span mdbTooltip="Zoom out" placement="bottom" (click)="zoomOut()">
      <mdb-icon class="pl-1 pt-1" fas icon="search-minus"></mdb-icon>
    </span>
  <span mdbTooltip="Zoom in" placement="bottom" (click)="zoomIn()">
      <mdb-icon class="pl-1 pt-1" fas icon="search-plus"></mdb-icon>
    </span>
  <span mdbTooltip="Expand canvas" placement="bottom">
      <mdb-icon class="pl-1 pt-1" (click)="expandCanvas()" fas icon="expand"></mdb-icon>
    </span>
  <span mdbTooltip="Rotate canvas" placement="bottom">
      <mdb-icon class="pl-1 pt-1" (click)="rotateCanvas()" fas icon="retweet"></mdb-icon>
    </span>
  <span class="dropdown pl-3 small" mdbDropdown mdbTooltip="Scale canvas" placement="bottom">
      <span mdbDropdownToggle mdbWavesEffect>
        {{ width$ | async }}px x {{ height$ | async }}px @ {{ zoomLevel$ | async | percent }}
        <mdb-icon fas icon="caret-down"></mdb-icon>
      </span>
      <div class="dropdown-menu dropdown-primary">
        <div class="dropdown-item"
           *ngFor="let option of SCALE_OPTIONS | keyvalue"
           (click)="pickScale(option.value)">
          {{ option.value.label }}
        </div>
      </div>
    </span>
</div>
<div class="white-text w-50 float-right text-right" id="device-controls">
    <span mdbTooltip="Mobile Phone" placement="bottom"
          (click)="pickScale(SCALE_OPTIONS['iphone-11'])">
      <mdb-icon class="px-1 py-1" fas icon="mobile-alt"></mdb-icon>
    </span>
  <span mdbTooltip="Mobile Phone (landscape)" placement="bottom"
        (click)="pickScale(SCALE_OPTIONS['iphone-11'], LANDSCAPE)">
      <mdb-icon class="px-1 py-1 rotate-90" fas icon="mobile-alt"></mdb-icon>
    </span>
  <span mdbTooltip="Tablet" placement="bottom"
        (click)="pickScale(SCALE_OPTIONS['ipad-original'])">
      <mdb-icon class="px-1 py-1" fas icon="tablet-alt"></mdb-icon>
    </span>
  <span mdbTooltip="Tablet (landscape)" placement="bottom"
        (click)="pickScale(SCALE_OPTIONS['ipad-original'], LANDSCAPE)">
      <mdb-icon class="px-1 py-1 rotate-90" fas icon="tablet-alt"></mdb-icon>
    </span>
  <span mdbTooltip="Desktop" placement="bottom"
        (click)="pickScale(SCALE_OPTIONS['desktop-hd'])">
      <mdb-icon class="px-1 py-1" fas icon="desktop"></mdb-icon>
    </span>
</div>
