<div class="sidebar" [class.expanded]="isExpanded | async">
  <div class="text-right mouse-pointer"
       (click)="togglePanel()">
    <mdb-icon class="text-white text-right pr-1 pt-1" fas icon="grip-vertical" mdbTooltip="Expand" placement="bottom"></mdb-icon>
  </div>
  <div class="mt-3 px-1 py-1 grey darken-3"
       [class.text-left]="isExpanded | async"
       [class.text-center]="!(isExpanded | async)"
       [class.pl-3]="isExpanded | async"
       mdbTooltip="Templates"
       placement="right">
    <mdb-icon class="text-white pr-1" far icon="object-group" size="lg"
              [class.icon-disabled]="isExpanded | async"
              (click)="togglePanel()"
              [class.mouse-pointer]="!(isExpanded | async)">
    </mdb-icon>
    <span class="text-white" *ngIf="isExpanded | async">
      <b>Templates</b>
    </span>
  </div>
  <div class="text-white pl-4 pt-2 grey darken-3" *ngIf="isExpanded | async" cdkDropList #templateContainer>
    <div *ngFor="let category of templates">
      <span (click)="category.expanded = !category.expanded">
        <mdb-icon class="pr-1" fas [icon]="category.expanded ? 'caret-down' : 'caret-right'"></mdb-icon>
        <span>{{ category.groupName }}</span>
      </span>
      <div *ngIf="category.expanded">
        <div *ngFor="let template of category.templates"
             class="category-template pl-3"
             [cdkDragData]="template"
             (cdkDragMoved)="templateDragMove($event)"
             (cdkDragEnded)="templateDragEnd()"
             (cdkDragReleased)="templateDragEnd()"
             cdkDrag>
          <span>&bull; {{ template.title }}</span>
          <div class="drag-preview" *cdkDragPreview><span>{{ template.title }}</span></div>
        </div>
      </div>
    </div>
  </div>
  <div class="mt-3 px-1 py-1 grey darken-3"
       [class.text-left]="isExpanded | async"
       [class.pl-3]="isExpanded | async"
       [class.text-center]="!(isExpanded | async)"
       mdbTooltip="Structure"
       placement="right">
    <mdb-icon class="text-white pr-1" fas icon="code" size="lg"
              [class.icon-disabled]="isExpanded | async"
              [class.mouse-pointer]="!(isExpanded | async)"
              (click)="togglePanel()">
    </mdb-icon>
    <span class="text-white" *ngIf="isExpanded | async">
      <b>Structure</b><br>
    </span>
  </div>
  <div class="text-white pl-3 pt-2 grey darken-3 py-2" *ngIf="isExpanded | async">
    <app-viewer-html type="simple"></app-viewer-html>
  </div>
</div>
