:host {
  display: block;
  border-right-color: #585858;
  border-right-style: solid;
  border-right-width: 1px;
  background-color: #212121;
  overflow: auto;

  .sidebar {
    width: 60px;

    &.expanded {
      width: 200px;
    }
  }

  .icon-disabled {
    pointer-events: none;
    cursor: default;
    opacity: .45;
  }
}

.category-template:hover {
  background-color: #212529;
}

