:host {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;

  .workspace {
    display: flex;
    flex-grow: 1;
    overflow: hidden;
  }

  .viewer {
    flex-grow: 1;
  }

  .sidebar {
    flex: 0 0 auto;
  }
}

#focus-bar {
  height: 20px;
  background-color: #3E8CE4;
  border-radius: 2px 2px 0 0;
  position: absolute;
  cursor: pointer;
}

.mouse-pointer {
  cursor: pointer;
}
