<app-workspace-header></app-workspace-header>
<div class="workspace">
  <app-workspace-sidebar [isExpanded]="isSidebarExpanded$" class="sidebar"></app-workspace-sidebar>
  <app-viewer (expandCanvas)="expandCanvas()" class="viewer"></app-viewer>
  <app-workspace-configurator [isExpanded]="isConfiguratorExpanded$" class="sidebar"></app-workspace-configurator>
</div>
