.html-line {
  display: block;
}

.selected {
  border-style: solid;
  border-color: cornflowerblue;
  border-width: 1px;
}

.tag {
  color: cornflowerblue;
}

.attribute {
  color: lawngreen;
}

.attribute-value {
  color: magenta;
}
