<!DOCTYPE html>
<span class="html-line" [ngStyle]="{'padding-left.px': getWidth()}">
  <span *ngIf="!element.expanded">
    <mdb-icon class="pr-1" fas icon="caret-right" (click)="element.expanded = !element.expanded"></mdb-icon>
    <span [ngClass]="{'selected': checkHighlight()}" (click)="select(element)">
      <span class="tag">&lt;</span>
      <span class="tag">{{ element.nodeName.toLowerCase() }}</span>
      <span *ngIf="element.id">
        <span class="attribute">&nbsp;id=&quot;</span>
        <span class="attribute-value">{{ element.id }}</span>
        <span class="attribute">&quot;</span>
      </span>
      <span *ngIf="element.classList.length > 0">
        <span class="attribute">&nbsp;class=&quot;</span>
        <span *ngFor="let class of element.classList; last as isLast">
          <span class="attribute-value" *ngIf="!isLast">{{ class }}&nbsp;</span>
          <span class="attribute-value" *ngIf="isLast">{{ class }}</span>
        </span>
        <span class="attribute">&quot;</span>
      </span>
      <span class="tag">&gt; ... &lt;/{{ element.nodeName.toLowerCase() }}&gt;</span>
    </span>
  </span>
  <span *ngIf="element.expanded">
    <mdb-icon class="pr-1" fas icon="caret-down" (click)="element.expanded = !element.expanded"></mdb-icon>
    <span [ngClass]="{'selected': checkHighlight()}" (click)="select(element)">
      <span class="tag">&lt;{{ element.nodeName.toLowerCase() }}</span>
      <span *ngIf="element.id">
        <span class="attribute">&nbsp;id=&quot;</span>
        <span class="attribute-value">{{ element.id }}</span>
        <span class="attribute">&quot;</span>
      </span>
      <span *ngIf="element.classList.length > 0">
        <span class="attribute">&nbsp;class=&quot;</span>
        <span *ngFor="let class of element.classList; last as isLast">
          <span class="attribute-value" *ngIf="!isLast">{{ class }}&nbsp;</span>
          <span class="attribute-value" *ngIf="isLast">{{ class }}</span>
        </span>
        <span class="attribute">&quot;</span>
      </span>
      <span class="tag">&gt;</span>
    </span>
    <span *ngIf="element.children.length > 0">
      <span *ngFor="let child of element.children">
        <app-htmlviewer-line [element]="child" [level]="nextLevel"></app-htmlviewer-line>
      </span>
    </span>
    <span *ngIf="element.children.length === 0 && element.innerText">
      <br>
      <span [ngStyle]="{'padding-left.px': getWidth() + 10}">{{ element.innerText }}</span>
      <br>
    </span>
    <span class="tag" [ngClass]="{'selected': checkHighlight()}" [ngStyle]="{'margin-left.px': getWidth()}" (click)="select(element)">&lt;/{{ element.nodeName.toLowerCase() }}&gt;</span>
  </span>
</span>
