<nav class="navbar navbar-expand-lg grey lighten-3">
  <div class="collapse navbar-collapse">
    <ul class="nav navbar-nav mr-auto float-left">
      <li class="nav-item">
        <mdb-icon class="nav-link mt-1" id="btn-form-menu" fas icon="bars" size="lg"></mdb-icon>
        <div class="dropdown-menu" style="margin-left: 20px;"><a class="dropdown-item" href="#">Delete</a></div>
      </li>
      <li class="nav-item"><a class="nav-link form-label"><b>Page Designer</b><br><span>New record</span></a></li>
    </ul>
    <div class="float-right ui-actions navbar-nav">
      <div class="nav-item">
        <mdb-icon class="nav-link float-right mt-1" id="btn-form-attachment" fas icon="paperclip" size="lg"></mdb-icon>
      </div>
      <div class="nav-item">
        <button class="float-right" id="btn-save0" type="button" mdbBtn color="primary"><span>Save</span></button>
      </div>
    </div>
  </div>
</nav>
<div class="h-100" id="main">
  <div class="h-100 d-inline-block grey darken-4" id="sidebar-left" [ngClass]="{expanded: panelExpanded('left')}">
    <div class="text-right mouse-pointer" (click)="togglePanel('left')" mdbTooltip="Expand" placement="right">
      <mdb-icon class="text-white text-right pr-1 pt-1" fas icon="grip-vertical"></mdb-icon>
    </div>
    <div class="mt-3 px-1 py-1 grey darken-3"
         [ngClass]="{'text-left': panelExpanded('left'), 'pl-3': panelExpanded('left'), 'text-center': !panelExpanded('left')}"
         mdbTooltip="Templates" placement="right">
      <mdb-icon class="text-white pr-1" far icon="object-group" size="lg"
                (click)="panelExpanded('left') ? null : togglePanel('left')"
                [ngClass]="{'mouse-pointer': !panelExpanded('left')}"></mdb-icon>
      <span class="text-white" *ngIf="panelExpanded('left')"><b>Templates</b></span></div>
    <div class="text-white pl-4 pt-2 grey darken-3" *ngIf="panelExpanded('left')" cdkDropList>
      <div *ngFor="let category of templates"><span (click)="category.expanded = !category.expanded"><mdb-icon
        class="pr-1" fas
        [icon]="category.expanded ? 'caret-down' : 'caret-right'"></mdb-icon><span>{{ category.title }}</span></span>
        <div class="pl-1" *ngIf="category.expanded">
          <div *ngFor="let template of category.templates" [cdkDragData]="template"
               (cdkDragStarted)="templateDragStart($event)" (cdkDragReleased)="templateDragRelease($event)" cdkDrag>
            <span>&bull; {{ template.title }}</span>
            <div class="drag-preview"><span *cdkDragPreview>{{ template.title }}</span></div>
          </div>
        </div>
      </div>
    </div>
    <div class="mt-3 px-1 py-1 grey darken-3"
         [ngClass]="{'text-left': panelExpanded('left'), 'pl-3': panelExpanded('left'), 'text-center': !panelExpanded('left')}"
         mdbTooltip="Structure" placement="right">
      <mdb-icon class="text-white pr-1" fas icon="code" size="lg"
                (click)="panelExpanded('left') ? null : togglePanel('left')"
                [ngClass]="{'mouse-pointer': !panelExpanded('left')}"></mdb-icon>
      <span class="text-white" *ngIf="panelExpanded('left')"><b>Structure</b><br></span></div>
    <div class="text-white pl-4 pt-2 grey darken-3" *ngIf="panelExpanded('left')">
      <app-html-structure class="text-white" *ngIf="panelExpanded('left')"></app-html-structure>
    </div>
  </div>
  <div id="center-panel">
    <div class="w-100 stylish-color-dark" id="toolbar">
      <div class="white-text w-50 float-left" id="zoom-controls">
        <span mdbTooltip="Zoom out" placement="bottom" (click)="zoom('out')">
          <mdb-icon class="pl-1 pt-1" fas icon="search-minus"></mdb-icon>
        </span>
        <span mdbTooltip="Zoom in" placement="bottom" (click)="zoom('in')">
          <mdb-icon class="pl-1 pt-1" fas icon="search-plus"></mdb-icon>
        </span>
        <span mdbTooltip="Expand canvas" placement="bottom">
          <mdb-icon class="pl-1 pt-1" (click)="togglePanel('collapse-all')" fas icon="expand"></mdb-icon>
        </span>
        <span mdbTooltip="Rotate canvas" placement="bottom">
          <mdb-icon class="pl-1 pt-1" (click)="rotateCanvas()" fas icon="retweet"></mdb-icon>
        </span>
        <span class="dropdown pl-3 small" mdbDropdown mdbTooltip="Scale canvas" placement="bottom">
          <span mdbDropdownToggle mdbWavesEffect>
            {{ stateSvc.state.scale.width }}px x {{ stateSvc.state.scale.height }}px @ {{ stateSvc.zoomOptions[stateSvc.state.zoomLevel] * 100 }}%
            <mdb-icon fas icon="caret-down"></mdb-icon>
          </span>
          <div class="dropdown-menu dropdown-primary">
            <a class="dropdown-item"
               href="javascript:void(0)"
               *ngFor="let option of objectkeys(stateSvc.scaleOptions)"
               (click)="stateSvc.state.scale = stateSvc.scaleOptions[option]">{{ stateSvc.scaleOptions[option].label }}
            </a>
          </div>
        </span>
      </div>
      <div class="white-text w-50 float-right text-right" id="device-controls">
        <span mdbTooltip="Mobile Phone" placement="bottom" (click)="changeScale(stateSvc.scaleOptions['iphone-11'], false)">
          <mdb-icon class="px-1 py-1" fas icon="mobile-alt"></mdb-icon>
        </span>
        <span mdbTooltip="Mobile Phone (rotated)" placement="bottom" (click)="changeScale(stateSvc.scaleOptions['iphone-11'], true)">
          <mdb-icon class="px-1 py-1 rotate-90" fas icon="mobile-alt"></mdb-icon>
        </span>
        <span mdbTooltip="Tablet" placement="bottom" (click)="changeScale(stateSvc.scaleOptions['ipad-original'], false)">
          <mdb-icon class="px-1 py-1" fas icon="tablet-alt"></mdb-icon>
        </span>
        <span mdbTooltip="Tablet (rotated)" placement="bottom" (click)="changeScale(stateSvc.scaleOptions['ipad-original'], true)">
          <mdb-icon class="px-1 py-1 rotate-90" fas icon="tablet-alt"></mdb-icon>
        </span>
        <span mdbTooltip="Desktop" placement="bottom" (click)="changeScale(stateSvc.scaleOptions['desktop-hd'], false)">
          <mdb-icon class="px-1 py-1" fas icon="desktop"></mdb-icon>
        </span>
      </div>
    </div>
    <div class="w-100 h-100 grey lighten-2 iframe-container" cdkDropList>
      <iframe id="canvasiframe"
              #canvasiframe
              [attr.srcDoc]="htmlDocument | trusted"
              (load)="commitChanges()"
              [ngStyle]="{'width.px': stateSvc.state.rotate ? stateSvc.state.scale.height : stateSvc.state.scale.width, 'height.px': stateSvc.state.rotate ? stateSvc.state.scale.width : stateSvc.state.scale.height, 'max-width.px': stateSvc.state.rotate ? stateSvc.state.scale.height : stateSvc.state.scale.width, 'max-height.px': stateSvc.state.rotate ? stateSvc.state.scale.width : stateSvc.state.scale.height}"></iframe>
      <div id="overlay" #iframeoverlay></div>
      <div id="highlight-box" #highlightbox></div>
      <div id="drop-placeholder" #dropPlaceholder></div>
      <div class="text-white" id="focus-bar" #focusbar>
        <span class="px-1" title="Move">
          <mdb-icon fas icon="arrows-alt"></mdb-icon>
        </span>
        <span class="px-1" title="Select Parent">
          <mdb-icon fas icon="arrow-up"></mdb-icon>
        </span>
        <span class="px-1" title="Edit">
          <mdb-icon fas icon="pencil-alt"></mdb-icon>
        </span>
        <span class="px-1" title="Duplicate">
          <mdb-icon far icon="copy"></mdb-icon>
        </span>
        <span class="px-1" title="Hide">
          <mdb-icon fas icon="eye-slash"></mdb-icon>
        </span>
        <span class="px-1" title="Delete" (click)="focusBarDelete()">
          <mdb-icon far icon="trash-alt"></mdb-icon>
        </span>
      </div>
    </div>
    <footer class="footer stylish-color-dark" id="bottom-box"
            [ngClass]="{expanded: panelExpanded('bottom'), 'expanded-left': panelExpanded('left'), 'expanded-right': panelExpanded('right')}">
      <div class="container-fluid mouse-pointer" (click)="togglePanel('bottom')">
        <div class="w-50 float-left" id="bottom-box-left">
          <mdb-icon class="text-white text-left pl-1" fas icon="grip-vertical"></mdb-icon>
          <span class="text-white pl-1">HTML</span></div>
        <div class="w-50 float-right" id="bottom-box-right"><span class="text-white">CSS</span></div>
      </div>
      <div class="container-fluid">
        <div class="w-50 float-left grey darken-3" id="bottom-box-left1">
          <app-htmlviewer class="text-white" *ngIf="panelExpanded('bottom')"></app-htmlviewer>
        </div>
        <div class="w-50 float-right" id="bottom-box-right1">
          <app-cssviewer class="text-white" *ngIf="panelExpanded('bottom')"
                         [window]="canvasIFrame.nativeElement.contentWindow"></app-cssviewer>
        </div>
      </div>
    </footer>
  </div>
  <div class="h-100 d-inline-block float-right grey darken-4" id="sidebar-right" [ngClass]="{expanded: panelExpanded('right')}">
    <div class="text-left mouse-pointer" (click)="togglePanel('right')" mdbTooltip="Expand" placement="left">
      <mdb-icon class="text-white text-left pl-1 pt-1" fas icon="grip-vertical"></mdb-icon>
    </div>
    <div class="mt-3 px-1 py-1 grey darken-3"
         [ngClass]="{'text-left': panelExpanded('right'), 'pl-3': panelExpanded('right'), 'pr-3': panelExpanded('right'), 'text-center': !panelExpanded('right')}"
         mdbTooltip="Configuration" placement="left">
      <mdb-icon class="text-white pl-1" far icon="edit" size="lg"
                (click)="panelExpanded('right') ? null : togglePanel('right')"
                [ngClass]="{'mouse-pointer': !panelExpanded('right')}"></mdb-icon>
      <span class="text-white pl-1" *ngIf="panelExpanded('right')"><b>Configuration</b><span
        *ngIf="stateSvc.state.highlightedElement"><app-basic-editor [element]="stateSvc.state.highlightedElement"
                                                                    [xpath]="stateSvc.state.highlightedElementXPath"
                                                                    (updated)="commitChanges()"></app-basic-editor></span></span>
    </div>
  </div>
</div>
