nav.navbar {
  height: 52px;
}

a.nav-link {
  font-size: 0.875rem;
}

#main {
  display: flex;
}

#center-panel {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  margin-bottom: 60px;
}

#toolbar {
  height: 35px;
  position: relative;
}

#sidebar-left {
  border-right-color: black;
  border-right-style: solid;
  border-right-width: 1px;
  width: 60px;
}

#sidebar-right {
  border-left-color: black;
  border-left-style: solid;
  border-left-width: 1px;
  width: 60px;
}

#sidebar-left.expanded {
  width: 200px;
}

#sidebar-right.expanded {
  width: 200px;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  background-color: blue;
  color: white;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
  0 8px 10px 1px rgba(0, 0, 0, 0.14),
  0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

#center-panel iframe {
  // pointer-events: all;
  scroll-behavior: smooth;
}

#focus-bar {
  height: 20px;
  background-color: #3E8CE4;
  border-radius: 2px 2px 0 0;
  position: absolute;
  cursor: pointer;
}

.footer {
  position: fixed;
  bottom: 0;
  /* Set the fixed height of the footer here */
  height: 30px;
  left: 60px;
  right: 60px;
}

.footer.expanded {
  height: 250px;
}

.footer.expanded-left {
  left: 200px;
}

.footer.expanded-right {
  right: 200px;
}

.mouse-pointer {
  cursor: pointer;
}

.rotate-90 {
  transform: rotate(90deg);
}

.iframe-container {
  text-align: center;
  overflow: auto;
}
