<!DOCTYPE html>
<br>
<span class="text-white font-weight-bold">{{ xpath }}</span>
<div class="md-form">
  <input class="form-control text-white" mdbInput type="text" id="html_id" [(ngModel)]="element.id" (keyup)="onKeyUp()">
  <label class="text-white" for="html_id">ID</label>
</div>
