<!DOCTYPE html>
<span class="html-block" [ngStyle]="{'padding-left.px': getWidth()}" *ngIf="numberOfElementChildren &gt; 0">
  <mdb-icon class="pr-1" fas [icon]="element.expanded ? 'caret-down' : 'caret-right'" (click)="element.expanded = !element.expanded"></mdb-icon>
  <span [ngClass]="{'selected': checkHighlight()}" (click)="select(element)">{{ element.nodeName }}</span>
  <span *ngIf="element.expanded">
    <span *ngFor="let child of element.children">
      <app-html-structure-line [element]="child" [level]="nextLevel"></app-html-structure-line>
    </span>
  </span>
</span>
<span class="html-block" [ngStyle]="{'padding-left.px': getWidth()}" *ngIf="numberOfElementChildren === 0"
      (click)="select(element)">
  <span [ngClass]="{'selected': checkHighlight()}">&bull; {{ element.nodeName }}</span>
</span>
