<div class="sidebar" [class.expanded]="isExpanded | async">
  <div class="text-left mouse-pointer"
       (click)="togglePanel()">
    <mdb-icon class="text-white text-left pl-1 pt-1" fas icon="grip-vertical" mdbTooltip="Expand"
              placement="bottom"></mdb-icon>
  </div>
  <div class="mt-3 px-1 py-1 grey darken-3"
       [class.text-left]="isExpanded | async"
       [class.pl-3]="isExpanded | async"
       [class.pr-3]="isExpanded | async"
       [class.text-center]="!(isExpanded | async)"
       placement="left">
    <mdb-icon class="text-white pl-1"
              mdbTooltip="Configuration"
              far
              icon="edit"
              size="lg"
              [class.icon-disabled]="isExpanded | async"
              [class.mouse-pointer]="!(isExpanded | async)"
              (click)="togglePanel()">
    </mdb-icon>
    <span class="text-white pl-1" *ngIf="isExpanded | async">
      <b>Configuration</b>
      <div>
        <app-property-editor property="id"></app-property-editor>
        <app-property-editor property="class"></app-property-editor>
        <app-property-editor property="role"></app-property-editor>
      </div>
    </span>
  </div>
</div>
