.hovering {
  border-color: cornflowerblue;
  border-style: solid;
  border-width: 1px;
}

.hovering-label {
  position: absolute;
  background-color: cornflowerblue;
  height: 20px;
  color: white;
  font-size: small;
  padding: 2px;
}

/* Empty elements */
div[class*="col-"]:empty:before,
form:empty:before,
.row:empty:before,
.form-row:empty:before,
.form-group:empty:before,
.container:empty:before,
div[class*="container-"]:empty:before{
  background-color: #eee;
  content: 'Empty Row';
  font-size: 20px;
  color: #aaa;
  font-weight: bold;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 80px;
  padding: 0 10px;
  line-height: 26px;
}

div[class*="container"]:empty:before {
  content: 'Empty Container';
}

