<!DOCTYPE html>
<span class="html-block-list">
  <app-html-structure-line [element]="element" [level]="0" *ngFor="let element of stateSvc.parsedDocument.body.children"></app-html-structure-line>
</span>
