:host {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  position: relative;

  .viewer {
    &-canvas {
      position: relative;
      overflow: auto;
      flex-grow: 1;
      max-height: 100%;
    }

    &-sizer {
      position: absolute;
      padding: 30px;
      pointer-events: none;
      min-width: 100%;
      min-height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &-wrapper {
      position: relative;
    }

    &-ui-offset {
      position: relative;
      top: 50%;
      left: 50%;
    }

    &-frame {
      display: block;
      pointer-events: all;
      position: absolute;
      transform-origin: top left;
      top: 0;
      left: 0;
      border: 0;
      background-color: #2f363a;
      scroll-behavior: smooth;
    }
  }
}
