<app-viewer-header (expandCanvas)="hideFooter()"></app-viewer-header>
<div class="viewer-canvas grey lighten-2" (click)="clearActiveTargetData($event)" #canvas>
  <div class="viewer-sizer">
    <div class="viewer-wrapper"
         [style.width.px]="scaledWidth$ | async"
         [style.height.px]="scaledHeight$ | async">
      <div class="viewer-ui-offset"
           [style.width.px]="scaledWidth$ | async"
           [style.height.px]="scaledHeight$ | async"
           [style.marginTop.px]="offsetTop$ | async"
           [style.marginLeft.px]="offsetLeft$ | async">
        <iframe class="viewer-frame"
                src="/__viewer"
                [style.width.px]="width$ | async"
                [style.height.px]="height$ | async"
                [style.transform]="'scale(' + (scale$ | async) + ')'"
                #iframe>
        </iframe>
        <app-viewer-overlay></app-viewer-overlay>
      </div>
    </div>
  </div>
</div>
<app-viewer-footer [isExpanded]="isFooterExpanded$"></app-viewer-footer>
