/* You can add global styles to this file, and also import other style files */

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  height: 100%;
  width: 100%;
  min-width: 320px;
  top: 0;
  left: 0;
  position: fixed;
}

.drag-preview {
  padding: 2px 8px;
  border-radius: 4px;
  background-color: #4285f4;
  color: white;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
  0 8px 10px 1px rgba(0, 0, 0, 0.14),
  0 3px 14px 2px rgba(0, 0, 0, 0.12);
}


/* Empty elements */
div[class*="col-"]:empty:before,
.row:empty:before,
.container:empty:before,
div[class*="container-"]:empty:before{
  background-color: #eee;
  content: 'Empty Row';
  font-size: 20px;
  color: #aaa;
  font-weight: bold;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 80px;
  padding: 0 10px;
  line-height: 26px;
  width: 100%;
}

div[class*="container"]:empty:before {
  content: 'Empty Container';
}

div[class*="col-"]:empty:before {
  content: 'Empty Column';
}

[contenteditable=true] {
  box-shadow:-1px -1px 1px rgba(17, 142, 232, 0.85),
  1px 1px 1px rgba(17, 142, 232, 0.85),
  0 0 11px rgba(17, 142, 232, 0.85) !important;
  outline:none !important;
  min-height:1em;
  cursor:initial !important;
}

[contenteditable=true] *:not([contenteditable=false]){
  cursor:initial !important;
}

[contenteditable=true]:empty:before {
  content: "\00a0\00a0" !important;
}

[contenteditable=true] [contenteditable=false] {
  box-shadow:0 0 0 1px rgba(17, 142, 232, 0.85);
}


