<nav class="navbar navbar-expand-lg grey lighten-3">
  <div class="collapse navbar-collapse">
    <ul class="nav navbar-nav mr-auto float-left">
      <li class="nav-item">
        <mdb-icon class="nav-link mt-1" id="btn-form-menu" fas icon="bars" size="lg"></mdb-icon>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">Delete</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link form-label">
          <strong>Page Designer</strong><br><span>New record</span>
        </a>
      </li>
    </ul>
    <div class="float-right ui-actions navbar-nav">
      <div class="nav-item">
        <mdb-icon class="nav-link float-right mt-1" id="btn-form-attachment" fas icon="paperclip" size="lg"></mdb-icon>
      </div>
      <div class="nav-item">
        <button class="float-right"
                id="btn-save0"
                type="button"
                mdbBtn
                color="primary">
          Save
        </button>
      </div>
    </div>
  </div>
</nav>
