:host {
  display: block;
  flex-grow: 0;
}

.navbar {
  //height: 52px; this rule creates inner content overflow

  .nav-link {
    font-size: 0.875rem;
  }

  .dropdown-menu {
    margin-left: 20px;
  }
}
